
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post {
  background: $cards-color-gray2;
  border-radius: 8px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  height: auto;

  &__author {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
  }
  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid $secondary-color;
    outline: 2px solid $primary-color;
  }

  &__time {
    
    color: $supporting-text-gray5;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
    line-height: 22px;
  }

  &__content {
    width: 752px;
    height: 180px;
    line-height: 1.6;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

  

    &--text {
      color: $text-gray6;
      font-size: $font-size-large;
      font-weight: $font-weight-regular;
      line-height: 25px;
      margin-top: 0.5rem;
   
    }

    &--link {
      color: $secondary-color;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      line-height: 25px;
 
    }

    &--link:hover {
      color: $primary-color;
    }
  }
  &__form {
    width: 100%;
   
    padding-top: 1rem;
    border-top: 1px solid $divider-color-gray3;
    margin-bottom: 1rem;
  

    &--feedback {
      line-height: 1.6;
      color: $text-gray6;
    }
    &--commit {
      width: 100%;
      background: $background-color-gray1;
      border: 0;
      resize: none;
      height: 6rem;
      padding: 1rem;
      border-radius: 0.25rem;
      color: $text-gray6;
      line-height: 1.4;
      margin-top: 1rem;
      border: 1px solid $secondary-color;
    }
    &:focus-within .footerBtn {
        visibility: visible;
        max-height: 100px; 
      }
  }
}

.post__authorInfo {
    
  &--name {
    display: block;
    color: $text-titles-gray7;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 25px;
  }

  &--career {
    display: block;
    color: $supporting-text-gray5;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
    line-height: 25px;
  }
}

.post + .post {
  margin-top: 2rem;
}

.footerBtn {
    display: flex;
    justify-content: flex-start; 
    margin-top: 1rem; 
    visibility: hidden;
      max-height: 0;
      overflow: hidden;
      transition: visibility 0.3s ease, max-height 0.3s ease;
 
  &__button {
    padding: 0.8rem 1.2rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: $primary-color;
    color: $white-color;
    font-weight: bold;
 
    transition: background-color 0.1s;
   
  }

}


.commentList {
  margin-top: 2rem;
}

