@import "variables";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {

 
    background-color: $background-color-gray1;
    color: $text-gray6;
  
    -webkit-font-smoothing: antialiased; //padronizar fonts
  }
  body,
  input,
  button,
  textarea {

    
    font-family:$base-font;
    font-weight: $font-weight-regular;
    font-size: 1rem; //16px

    outline: none;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
  }
  
  button,
  a {
    cursor: pointer;
    transition: filter 0.2s;
  }
  
  button:hover,
  a:hover {
    filter: brightness(0.9);
  }
  
  .links {
    list-style: none;
  }
  .links,
  li {
 
    list-style: none;
  }
  .links,
  a {
    color:$white-color;
  }