
//colors

$primary-color: #00875F;
$secondary-color:#00B37E; 
$tertiary-color:#F75A68;
$background-color-gray1: #121214;
$cards-color-gray2: #202024;
$divider-color-gray3: #323238;
$placeholder-color-gray4: #7C7C8A;
$supporting-text-gray5:#8D8D99;
$text-gray6:#C4C4CC;
$text-titles-gray7: #E1E1E6;
$white-color: #FFFFFF;



//font variables
$base-font: "Roboto", sans-serif;


//font weights

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


//size varibles

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-extra-large: 20px;